body {
    color: rebeccapurple;
    font-family: Helvetica;
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: #79b791;
  }
  
  .style2 {
    background-color: #abd1b5;
  }
  
  .style3 {
    background-color: #edf4ed;
  }
  
  .style4 {
    background-color: #51291e;
  }
  
  .style5 {
    background-color: #301014;
  }
  
  .style6 {
    background-color: #D6E289;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }